.list {
  max-height: 500px;
  overflow-y: auto;
}

.styledTable {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.thead {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.thTd {
    padding: 12px 15px;
}
.tbodyTr {
    border-bottom: 1px solid #eeeee8;  /* Light gray color for a subtle line */
}
.tbodyTrEven {
    background-color: #f3f3f3;
}
.tbodyTrLast {
    border-bottom: 2px solid #009879;
}
.activeRow {
    font-weight: bold;
    color: #009879;
}
.tbodyTr:hover {
    background-color: #222222;  /* Optional: Change background on hover for better interactivity */
}